body {
  background: #ccc;
}

.flexbox-container {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.flexbox-container > div {
    padding: 10px;
    padding-bottom: 50px;
}

#playing, #resultados {
    font: 15px 'trebuchet MS', 'lucida sans';
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#playing {
	width: 30%;
	padding-left: 30px;
}

#resultados {
	width: 50%;
}




   
